.autocomplete {
	position: relative;
}

.autocomplete-list {
	display: none;
	position: absolute;
	top: 45px;
	background: #fff;
	width: 100%;
}



.autocomplete-item {

}


.autocomplete-item-selected {
	background: #ddd;
}